.img-responsive {
  height: auto;
  width: 100%;
}

.path {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.div-one {
  width: 100%;
  background-color: white;
}

.div-one__row__col_one {
  background-color: white;
  margin-top: 100px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .div-one__row__col_one {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .div-one__row__col_one {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .div-one__row__col_one {
    display: none;
  }
}

.div-one__row__col-two {
  padding: 50px 50px 0 50px;
  background-color: white;
  color: #f8dda1;
}

.div-one__row__col-two__headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  font-style: normal;
  color: black;
  border-radius: nullpx;
}

@media only screen and (max-width: 600px) {
  .div-one__row__col-two__headline {
    font-size: 46px;
    line-height: 60px;
  }
}

.div-one__row__col-two__headline-text {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
}

.div-one__row__col-two__image {
  display: none;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .div-one__row__col-two__image {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .div-one__row__col-two__image {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .div-one__row__col-two__image {
    display: block;
  }
}

.div-one__row__col-two__logo-text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.438rem;
  font-style: normal;
  line-height: 2rem;
  color: #01B348;
  border-radius: nullpx;
  padding-bottom: 40px;
}

.watalogy-services {
  /* --------1------ */
  /* --------2------ */
  /* --------3------ */
  /* --------4------ */
  /* --------5------ */
  /* --------6------ */
  /* --------7------ */
  /* --------8------ */
  /* --------9------ */
  /* --------10------ */
  /* --------11------ */
  /* --------12------ */
  /* --------13------ */
  /* --------14------ */
}

.watalogy-services__img-path {
  width: 971.5px;
  height: 2888.5px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__img-path {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__img-path {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__img-path {
    display: none;
  }
}

.watalogy-services__header-2 {
  position: relative;
  color: #323433;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  font-style: normal;
  line-height: 2rem;
  border-radius: nullpx;
}

.watalogy-services__header-2__text {
  position: absolute;
  margin-top: 30px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__header-2__text {
    margin-left: -13px;
    font-weight: bold;
    font-size: 32px;
    font-style: normal;
    line-height: 35px;
    text-align: start;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__header-2__text {
    position: static;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__header-2__text {
    position: static;
  }
}

.watalogy-services__rows-one__one-jpg-circle {
  position: relative;
}

.watalogy-services__rows-one__one-jpg-circle__circle-1 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-right: 120px;
  margin-top: 30px;
}

.watalogy-services__rows-one__one-jpg-circle__jpg-one {
  width: 153px;
  height: 110px;
  margin-top: 50px;
}

.watalogy-services__rows-one__text-one__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: 50px;
  margin-left: -35px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-one__text-one__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-one__text-one__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-one__text-one__text-header {
    margin-left: 0px;
  }
}

.watalogy-services__rows-one__text-one__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -35px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-one__text-one__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-one__text-one__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-one__text-one__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-two__two-jpg-circle__circle-2 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-right: 120px;
}

.watalogy-services__rows-two__two-jpg-circle__jpg-two {
  width: 139px;
  height: 111px;
}

.watalogy-services__rows-two__text-two__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-left: -25px;
  margin-top: 15px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-two__text-two__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-two__text-two__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-two__text-two__text-header {
    margin-left: 0px;
  }
}

.watalogy-services__rows-two__text-two__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -25px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-two__text-two__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-two__text-two__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-two__text-two__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-three {
  margin-top: -30px;
}

.watalogy-services__rows-three__three-jpg-circle__circle-3 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-top: 125px;
  margin-left: -100px;
}

.watalogy-services__rows-three__three-jpg-circle__jpg-three {
  width: 167px;
  height: 219px;
}

.watalogy-services__rows-three__text-three {
  margin-top: 60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-three__text-three {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-three__text-three {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-three__text-three {
    margin-top: 0px;
  }
}

.watalogy-services__rows-three__text-three__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
}

.watalogy-services__rows-three__text-three__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
}

.watalogy-services__rows-four__four-jpg-circle__circle-4 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-left: 950px;
  margin-top: 100px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__four-jpg-circle__circle-4 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__four-jpg-circle__circle-4 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-four__four-jpg-circle__circle-4 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-four__four-jpg-circle__jpg-four {
  width: 220px;
  height: 210px;
  margin-left: 800px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__four-jpg-circle__jpg-four {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__four-jpg-circle__jpg-four {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-four__four-jpg-circle__jpg-four {
    margin-left: 0px;
  }
}

.watalogy-services__rows-four__text-four {
  margin-top: 60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__text-four {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__text-four {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-four__text-four {
    margin-top: 0px;
  }
}

.watalogy-services__rows-four__text-four__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-left: -200px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__text-four__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__text-four__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-four__text-four__text-header {
    margin-left: 0px;
  }
}

.watalogy-services__rows-four__text-four__text-header-explanation {
  margin-left: -200px;
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__text-four__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-four__text-four__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-four__text-four__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-five {
  margin-top: 60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-five {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-five {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-five {
    margin-top: 30px;
  }
}

.watalogy-services__rows-five__five-jpg-circle__circle-5 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
}

.watalogy-services__rows-five__five-jpg-circle__jpg-five {
  width: 183px;
  height: 153px;
}

.watalogy-services__rows-five__text-five {
  margin-top: -60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-five__text-five {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-five__text-five {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-five__text-five {
    margin-top: 10px;
  }
}

.watalogy-services__rows-five__text-five__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
}

.watalogy-services__rows-five__text-five__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
}

.watalogy-services__rows-six {
  margin-top: 50px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-six {
    margin-top: 30px;
  }
}

.watalogy-services__rows-six__six-jpg-circle__circle-6 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-right: 30px;
  margin-top: 100px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six__six-jpg-circle__circle-6 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six__six-jpg-circle__circle-6 {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-six__six-jpg-circle__circle-6 {
    margin-top: 30px;
  }
}

.watalogy-services__rows-six__six-jpg-circle__jpg-six {
  width: 338px;
  height: 242px;
}

.watalogy-services__rows-six__text-six {
  margin-top: 50px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six__text-six {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six__text-six {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-six__text-six {
    margin-top: 10px;
  }
}

.watalogy-services__rows-six__text-six__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-left: -30px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six__text-six__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six__text-six__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-six__text-six__text-header {
    margin-left: 0px;
  }
}

.watalogy-services__rows-six__text-six__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -30px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six__text-six__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-six__text-six__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-six__text-six__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-seven {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-seven {
    margin-top: 30px;
  }
}

.watalogy-services__rows-seven__seven-jpg-circle__circle-7 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-top: -70px;
  margin-right: -350px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven__seven-jpg-circle__circle-7 {
    margin-top: -40px;
    margin-right: -70px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-seven__seven-jpg-circle__circle-7 {
    margin-top: -16px;
  }
}

.watalogy-services__rows-seven__seven-jpg-circle__jpg-seven {
  width: 229px;
  height: 163px;
  margin-right: -450px;
  margin-top: -50px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven__seven-jpg-circle__jpg-seven {
    margin-right: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven__seven-jpg-circle__jpg-seven {
    margin-right: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-seven__seven-jpg-circle__jpg-seven {
    margin-right: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-seven__text-seven {
  margin-top: 20px;
}

.watalogy-services__rows-seven__text-seven__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-left: -130px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven__text-seven__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven__text-seven__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-seven__text-seven__text-header {
    margin-left: 0px;
  }
}

.watalogy-services__rows-seven__text-seven__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -130px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven__text-seven__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-seven__text-seven__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-seven__text-seven__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-eight {
  margin-right: 400px;
  margin-top: 30px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eight {
    margin-right: 0px;
  }
}

.watalogy-services__rows-eight__eight-jpg-circle__circle-8 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-right: -500px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight__eight-jpg-circle__circle-8 {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight__eight-jpg-circle__circle-8 {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eight__eight-jpg-circle__circle-8 {
    margin-right: 0px;
  }
}

.watalogy-services__rows-eight__eight-jpg-circle__jpg-eight {
  width: 186px;
  height: 186px;
  margin-right: -550px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight__eight-jpg-circle__jpg-eight {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight__eight-jpg-circle__jpg-eight {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eight__eight-jpg-circle__jpg-eight {
    margin-right: 0px;
  }
}

.watalogy-services__rows-eight__text-eight__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-left: -150px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight__text-eight__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight__text-eight__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eight__text-eight__text-header {
    margin-left: 0px;
  }
}

.watalogy-services__rows-eight__text-eight__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -150px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight__text-eight__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eight__text-eight__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eight__text-eight__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-nine {
  margin-right: 400px;
  margin-top: 40px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine {
    margin-right: 0px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine {
    margin-right: 0px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-nine {
    margin-right: 0px;
    margin-top: 30px;
  }
}

.watalogy-services__rows-nine__nine-jpg-circle__circle-9 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-left: 1700px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine__nine-jpg-circle__circle-9 {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine__nine-jpg-circle__circle-9 {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-nine__nine-jpg-circle__circle-9 {
    margin-left: 0px;
  }
}

.watalogy-services__rows-nine__nine-jpg-circle__jpg-nine {
  width: 212px;
  height: 170px;
  margin-left: 1700px;
  margin-top: -100px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine__nine-jpg-circle__jpg-nine {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine__nine-jpg-circle__jpg-nine {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-nine__nine-jpg-circle__jpg-nine {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-nine__text-nine__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -20px;
  margin-left: -30px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine__text-nine__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine__text-nine__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-nine__text-nine__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-nine__text-nine__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -30px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine__text-nine__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-nine__text-nine__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-nine__text-nine__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-ten {
  margin-top: 100px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-ten {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-ten {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-ten {
    margin-top: 30px;
  }
}

.watalogy-services__rows-ten__ten-jpg-circle__circle-10 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
}

.watalogy-services__rows-ten__ten-jpg-circle__jpg-ten {
  width: 208px;
  height: 184px;
}

.watalogy-services__rows-ten__text-ten__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: 20px;
  margin-left: -40px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-ten__text-ten__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-ten__text-ten__text-header {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-ten__text-ten__text-header {
    margin-left: 0px;
  }
}

.watalogy-services__rows-ten__text-ten__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -40px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-ten__text-ten__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-ten__text-ten__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-ten__text-ten__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-eleven {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eleven {
    margin-top: 30px;
  }
}

.watalogy-services__rows-eleven__eleven-jpg-circle__circle-11 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-left: 1500px;
  margin-top: -10px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven__eleven-jpg-circle__circle-11 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven__eleven-jpg-circle__circle-11 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eleven__eleven-jpg-circle__circle-11 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-eleven__eleven-jpg-circle__jpg-eleven {
  width: 187px;
  height: 180px;
  margin-left: 1500px;
  margin-top: 10px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven__eleven-jpg-circle__jpg-eleven {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven__eleven-jpg-circle__jpg-eleven {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eleven__eleven-jpg-circle__jpg-eleven {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-eleven__text-eleven__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: 50px;
  margin-left: -60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven__text-eleven__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven__text-eleven__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eleven__text-eleven__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-eleven__text-eleven__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven__text-eleven__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-eleven__text-eleven__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-eleven__text-eleven__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-twelve {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-twelve {
    margin-top: 30px;
  }
}

.watalogy-services__rows-twelve__twelve-jpg-circle__circle-12 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-left: 1100px;
  margin-top: 60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve__twelve-jpg-circle__circle-12 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve__twelve-jpg-circle__circle-12 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-twelve__twelve-jpg-circle__circle-12 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-twelve__twelve-jpg-circle__jpg-twelve {
  width: 284px;
  height: 140px;
  margin-left: 1050px;
  margin-top: 60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve__twelve-jpg-circle__jpg-twelve {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve__twelve-jpg-circle__jpg-twelve {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-twelve__twelve-jpg-circle__jpg-twelve {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-twelve__text-twelve__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: 50px;
  margin-left: -280px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve__text-twelve__text-header {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve__text-twelve__text-header {
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-twelve__text-twelve__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-twelve__text-twelve__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -280px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve__text-twelve__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-twelve__text-twelve__text-header-explanation {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-twelve__text-twelve__text-header-explanation {
    margin-left: 0px;
  }
}

.watalogy-services__rows-thirteen {
  margin-top: 60px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-thirteen {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-thirteen {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-thirteen {
    margin-top: 30px;
  }
}

.watalogy-services__rows-thirteen__thirteen-jpg-circle__circle-13 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
}

.watalogy-services__rows-thirteen__thirteen-jpg-circle__jpg-thirteen {
  width: 288px;
  height: 192px;
}

.watalogy-services__rows-thirteen__text-thirteen__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: 50px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-thirteen__text-thirteen__text-header {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-thirteen__text-thirteen__text-header {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-thirteen__text-thirteen__text-header {
    margin-top: 10px;
  }
}

.watalogy-services__rows-thirteen__text-thirteen__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
}

.watalogy-services__rows-fourteen {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-fourteen {
    margin-top: 30px;
  }
}

.watalogy-services__rows-fourteen__fourteen-jpg-circle__circle-14 {
  width: 3rem;
  height: 3rem;
  background-color: #F27575;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.7rem;
  line-height: 2rem;
  padding: .5rem;
  color: #FFFCFC;
  position: absolute;
  z-index: 1;
  margin-left: 1300px;
  margin-top: 100px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen__fourteen-jpg-circle__circle-14 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen__fourteen-jpg-circle__circle-14 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-fourteen__fourteen-jpg-circle__circle-14 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-fourteen__fourteen-jpg-circle__jpg-fourteen {
  width: 190px;
  height: 188px;
  margin-left: 1500px;
  margin-top: 10px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen__fourteen-jpg-circle__jpg-fourteen {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen__fourteen-jpg-circle__jpg-fourteen {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-fourteen__fourteen-jpg-circle__jpg-fourteen {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-fourteen__text-fourteen {
  margin-bottom: 50px;
}

.watalogy-services__rows-fourteen__text-fourteen__text-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.563rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: 100px;
  margin-left: -250px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen__text-fourteen__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen__text-fourteen__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-fourteen__text-fourteen__text-header {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-services__rows-fourteen__text-fourteen__text-header-explanation {
  font-weight: normal;
  font-size: 1.3rem;
  font-style: normal;
  line-height: 2rem;
  color: #000000;
  border-radius: nullpx;
  margin-top: -15px;
  margin-left: -250px;
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen__text-fourteen__text-header-explanation {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .watalogy-services__rows-fourteen__text-fourteen__text-header-explanation {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .watalogy-services__rows-fourteen__text-fourteen__text-header-explanation {
    margin-left: 0px;
    margin-top: 0px;
  }
}

.watalogy-advantages__rows-one__cols-one__rows__cols-one-images__one {
  width: 100px;
  height: 156px;
  margin-top: 30%;
  margin-bottom: 30%;
}

@media only screen and (max-width: 600px) {
  .watalogy-advantages__rows-one__cols-one__rows__cols-one-images__one {
    width: 79.699px;
    height: 100px;
  }
}

.watalogy-advantages__rows-one__cols-one__rows__cols-two-texts {
  margin-top: 10%;
  margin-bottom: 10%;
}

.watalogy-advantages__rows-one__cols-one__rows__cols-two-texts__header-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  border-radius: nullpx;
  text-align: left;
}

.watalogy-advantages__rows-one__cols-one__rows__cols-two-texts__header-explanation-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 23px;
  font-style: normal;
  line-height: 28px;
  border-radius: nullpx;
  text-align: left;
}

.watalogy-advantages__rows-one__cols-two__rows__cols-one-images__two {
  margin-top: 30%;
  margin-bottom: 30%;
  width: 134px;
  height: 126px;
}

@media only screen and (max-width: 600px) {
  .watalogy-advantages__rows-one__cols-two__rows__cols-one-images__two {
    width: 70px;
    height: 65.82px;
  }
}

.watalogy-advantages__rows-one__cols-two__rows__cols-two-texts {
  margin-top: 10%;
  margin-bottom: 10%;
}

.watalogy-advantages__rows-one__cols-two__rows__cols-two-texts__header-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  border-radius: nullpx;
  text-align: left;
}

.watalogy-advantages__rows-one__cols-two__rows__cols-two-texts__header-explanation-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 23px;
  font-style: normal;
  line-height: 28px;
  border-radius: nullpx;
  text-align: left;
}

.watalogy-advantages__rows-two__cols-one__rows__cols-one-images__one {
  margin-top: 30%;
  margin-bottom: 30%;
  width: 133px;
  height: 106px;
}

@media only screen and (max-width: 600px) {
  .watalogy-advantages__rows-two__cols-one__rows__cols-one-images__one {
    width: 70px;
    height: 55.789px;
  }
}

.watalogy-advantages__rows-two__cols-one__rows__cols-two-texts {
  margin-top: 10%;
  margin-bottom: 10%;
}

.watalogy-advantages__rows-two__cols-one__rows__cols-two-texts__header-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  border-radius: nullpx;
  text-align: left;
}

.watalogy-advantages__rows-two__cols-one__rows__cols-two-texts__header-explanation-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 23px;
  font-style: normal;
  line-height: 28px;
  border-radius: nullpx;
  text-align: left;
}

.watalogy-advantages__rows-two__cols-two__rows__cols-one-images__two {
  margin-top: 30%;
  margin-bottom: 30%;
  width: 133px;
  height: 118px;
}

@media only screen and (max-width: 600px) {
  .watalogy-advantages__rows-two__cols-two__rows__cols-one-images__two {
    width: 70px;
    height: 62.105px;
  }
}

.watalogy-advantages__rows-two__cols-two__rows__cols-two-texts {
  margin-top: 10%;
  margin-bottom: 10%;
}

.watalogy-advantages__rows-two__cols-two__rows__cols-two-texts__header-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  border-radius: nullpx;
  text-align: left;
}

.watalogy-advantages__rows-two__cols-two__rows__cols-two-texts__header-explanation-text {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 23px;
  font-style: normal;
  line-height: 28px;
  border-radius: nullpx;
  text-align: left;
}

.watalogy-marketplace {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace {
    margin-bottom: 30px;
    margin-top: 60px;
  }
}

.watalogy-marketplace__header {
  margin-bottom: 40px;
}

.watalogy-marketplace__header__img-one__left {
  width: 44px;
  height: 68px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__header__img-one {
    display: none;
  }
}

.watalogy-marketplace__header .watalogy-marketplace__header-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__header .watalogy-marketplace__header-text {
    font-size: 30px;
    line-height: 40px;
  }
}

.watalogy-marketplace__header__img-two__right {
  width: 41px;
  height: 68px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__header__img-two__right {
    display: none;
  }
}

.watalogy-marketplace__rows-one__cols-one__amazon-img {
  width: 247px;
  height: 110px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-one__cols-one__amazon-img {
    width: 150px;
    height: 66.80px;
  }
}

.watalogy-marketplace__rows-one__cols-two__etsy-img {
  width: 162px;
  height: 77px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-one__cols-two__etsy-img {
    width: 120px;
    height: 57px;
  }
}

.watalogy-marketplace__rows-one__cols-three__wayfair-img {
  width: 190px;
  height: 92px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-one__cols-three__wayfair-img {
    width: 150px;
    height: 72.63px;
  }
}

.watalogy-marketplace__rows-one__cols-four__houzz-img {
  width: 259px;
  height: 77px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-one__cols-four__houzz-img {
    width: 200px;
    height: 59.45px;
    margin-top: 6vw;
  }
}

.watalogy-marketplace__rows-two__cols-one__otto-img {
  width: 169px;
  height: 169px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-two__cols-one__otto-img {
    width: 120px;
    height: 120px;
  }
}

.watalogy-marketplace__rows-two__cols-two__zalando-img {
  width: 221px;
  height: 111px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-two__cols-two__zalando-img {
    width: 140px;
    height: 70.32px;
  }
}

.watalogy-marketplace__rows-two__cols-three__kaufland-img {
  width: 116px;
  height: 116px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-two__cols-three__kaufland-img {
    width: 100px;
    height: 100px;
    margin-top: 4vw;
  }
}

.watalogy-marketplace__rows-two__cols-four__ebay-img {
  width: 169px;
  height: 68px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-two__cols-four__ebay-img {
    width: 130px;
    height: 52.30px;
  }
}

.watalogy-marketplace__rows-three__cols-one__walmart-img {
  width: 226px;
  height: 127px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-three__cols-one__walmart-img {
    width: 140px;
    height: 78.67px;
    margin-top: 8vw;
  }
}

.watalogy-marketplace__rows-three__cols-two__hepsiburda-img {
  width: 141px;
  height: 141px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-three__cols-two__hepsiburda-img {
    width: 100px;
    height: 100px;
  }
}

.watalogy-marketplace__rows-three__cols-three__trendyol-img {
  width: 193px;
  height: 63px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-three__cols-three__trendyol-img {
    width: 130px;
    height: 42.435px;
  }
}

.watalogy-marketplace__rows-three__cols-four__n11-img {
  width: 259px;
  height: 194px;
}

@media only screen and (max-width: 600px) {
  .watalogy-marketplace__rows-three__cols-four__n11-img {
    width: 160px;
    height: 119.845px;
    margin-top: 2vw;
  }
}

.watalogy-depo-support-footer {
  padding: 0 12vw 5vw 12vw;
  text-align: center;
}

.watalogy-depo-support-footer__header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #01B348;
}

@media only screen and (max-width: 600px) {
  .watalogy-depo-support-footer__header-text {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
  }
}

.watalogy-depo-support-footer__header-explanation-text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  line-height: 26px;
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .watalogy-depo-support-footer__header-explanation-text {
    font-size: 18px;
    line-height: 22px;
  }
}

.line {
  width: 100%;
}

.for-details {
  padding: 8vw;
  text-align: center;
}

.for-details__one__p1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 600px) {
  .for-details__one__p1 {
    font-size: 22px;
    line-height: 20px;
  }
}

.for-details__two__p2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .for-details__two__p2 {
    font-size: 16px;
    line-height: 18px;
  }
}
/*# sourceMappingURL=style.css.map */