$headline-color: #323433;
$text-color: #000000;
$circle-color: #F27575;
$inside-circle-text:#FFFCFC;

@mixin text{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    font-style: normal;
    line-height: 2rem;
    color: $text-color;
    border-radius: nullpx;
  }

@mixin circle {
    width: 3rem;
    height: 3rem;
    background-color: $circle-color;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.7rem;
    line-height: 2rem;
    padding: .5rem;
    color: $inside-circle-text;
  }

  @mixin text-h2{
    color: $headline-color;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    font-style: normal;
    line-height: 2rem;
    border-radius: nullpx;
  }

  @mixin text-h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.563rem;
    font-style: normal;
    line-height: 2rem;
    color: $text-color;
    border-radius: nullpx;
  }

  @mixin adv-header-text {
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    line-height: 35px;
    border-radius: nullpx;
    text-align: left
      
  }

  @mixin adv-header-explanation-text{
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    border-radius: nullpx;
    text-align: left 
  }

.div-one{
    width: 100%;
    background-color: rgb(255, 255, 255);

    &__row{
        &__col_one{
           background-color: rgb(173, 173, 212);
        }
        &__col-two{
            background-color: rgb(210, 210, 247);
            color: rgb(248, 221, 161);
            &__headline{
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                font-size: 3.5rem;
                font-style: normal;
                color: black;
                border-radius: nullpx;
            }
            &__headline-text{
                @include text;
            }
            &__logo-text{
                font-family: 'Roboto', sans-serif;
                font-weight: normal;
                font-size: 1.438rem;
                font-style: normal;
                line-height: 2rem;
                color: #01B348;
                border-radius: nullpx;
            }
        }
        
    }
}

.watalogy-services{
    &__img-path{
        width: 971.5px;
        height: 2888.5px;
    }
    &__header-2{
        @include text-h2;
    }
    /* --------1------ */
    &__rows-one{
        
        &__one-jpg-circle{
            position: relative;
            &__circle-1{
                @include circle;
                position: absolute;
                z-index: 1; 
                margin-right: 120px; 
                margin-top: 30px; 
                  
            }
            &__jpg-one{
                width: 153px;
                height: 110px; 
                margin-top: 50px;   
            }
        }
        &__text-one{
            &__text-header{
                @include text-h3();
                margin-top: 50px; 
                margin-left: -35px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px; 
                }  
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
                margin-left: -35px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px; 
                }   
            }
        }
    }
    /* --------2------ */
    &__rows-two{
        &__two-jpg-circle{
            
            &__circle-2{
                @include circle;
                position: absolute;
                z-index: 1; 
                margin-right: 120px;    
            }
            &__jpg-two{
                width: 139px;
                height: 111px;
            }
        }
        &__text-two{
            &__text-header{
                @include text-h3();
                margin-left: -25px; 
                margin-top:15px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px; 
                }  
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
                margin-left: -25px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px; 
                }  
            }
        }
    }
    /* --------3------ */
    &__rows-three{
        margin-top: -30px;
        &__three-jpg-circle{
            &__circle-3{
                @include circle;
                position: absolute;
                z-index: 1;
                margin-top:125px;  
                margin-left:-100px;  
            }
            &__jpg-three{
                width: 167px;
                height: 219px;
            }
        }
        &__text-three{
            margin-top:60px;
            @media only screen and (max-width: 600px) {
                margin-top:0px;
            }
            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (max-width: 600px) {
                margin-top:0px;  
            }
            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (max-width: 768px) {
                margin-top:0px; 
            } 
            
            &__text-header{
                @include text-h3(); 
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
            }
        }
    }
    /* --------4------ */
    &__rows-four{
        &__four-jpg-circle{
            &__circle-4{
                @include circle;
                position: absolute;
                z-index: 1;
                margin-top:90px;  
                margin-left:150px;    
            }
            &__jpg-four{
                width: 220px;
                height: 210px;
                margin-left:-15px; 
            }
        }
        &__text-four{
            margin-top:80px;
            @media only screen and (max-width: 600px) {
                margin-top:0px; 
            }
            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (max-width: 600px) {
                margin-top:0px; 
            }
            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (max-width: 768px) {
                margin-top:0px; 
            } 
            &__text-header{
                @include text-h3();
                margin-left: 150px; 
            }
            &__text-header-explanation{
                margin-left: 150px;
                @include text();
                margin-top:-15px; 
            }
        }
    }
    /* --------5------ */
    &__rows-five{
        margin-top: 60px;
        @media only screen and (max-width: 600px) {
            margin-top: 30px; 
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-top: 30px;  
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-top: 30px;
        }  

        &__five-jpg-circle{
            &__circle-5{
                @include circle;
                position: absolute;
                z-index: 1;
                 
            }
            &__jpg-five{
                width: 183px;
                height: 153px;
            }
        }
        &__text-five{
            margin-top:-30px;
            @media only screen and (max-width: 600px) {
                margin-top: 10px; 
            }
            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (max-width: 600px) {
                margin-top: 10px;  
            }
            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (max-width: 768px) {
                margin-top: 10px;
            }  
            
            &__text-header{
                @include text-h3(); 
            }
            &__text-header-explanation{
                @include text();
                margin-top:-15px; 
            }
        }
    }
    /* --------6------ */
    &__rows-six{
        margin-top:50px;
        @media only screen and (max-width: 600px) {
                margin-top: 30px; 
            }
            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (max-width: 600px) {
                margin-top: 30px;  
            }
            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (max-width: 768px) {
                margin-top: 30px;
            } 
        &__six-jpg-circle{
            &__circle-6{
                @include circle;
                position: absolute;
                z-index: 1;
                margin-right:30px;
                margin-top: 100px; 
                @media only screen and (max-width: 600px) {
                    margin-top: 30px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-top: 30px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-top: 30px;
                }     
            }
            &__jpg-six{
                width: 338px;
                height: 242px;  
            }
        }
        &__text-six{
            margin-top:50px;
            @media only screen and (max-width: 600px) {
                margin-top: 10px; 
            }
            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (max-width: 600px) {
                margin-top: 10px;  
            }
            /* Medium devices (landscape tablets, 768px and up) */
            @media only screen and (max-width: 768px) {
                margin-top: 10px;
            }  
            &__text-header{
                @include text-h3(); 
                margin-left:-30px;
                @media only screen and (max-width: 600px) {
                    margin-left:0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left:0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left:0px;
                }  

            }
            &__text-header-explanation{
                @include text();
                margin-top:-15px;
                margin-left:-30px; 
                @media only screen and (max-width: 600px) {
                    margin-left:0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left:0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left:0px;
                }  
            }
        }
    }
    /* --------7------ */
    &__rows-seven{
        @media only screen and (max-width: 600px) {
            margin-top:30px; 
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-top:30px;  
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-top:30px; 
        }  
        &__seven-jpg-circle{
            &__circle-7{
                @include circle;
                position: absolute;
                z-index: 1; 
                margin-top:50px;
                margin-right: 130px;
                @media only screen and (max-width: 600px) {
                    margin-top:20px;;
                   
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-top:20px;;
                   
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-top:20px;;
                    
                }     
            }
            &__jpg-seven{
                width: 229px;
                height: 163px;
                margin-right: -450px;
                margin-top: -50px;
                @media only screen and (max-width: 600px) {
                    margin-right: 0px;
                    margin-top: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-right: 0px;
                    margin-top: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-right: 0px;
                    margin-top: 0px;
                } 
            }
        }
        &__text-seven{
            margin-top:20px;
            &__text-header{
                @include text-h3();
                margin-left: -130px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                } 
                 
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
                margin-left: -130px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                }
            }
        }
    }
    /* --------8------ */
    &__rows-eight{
        margin-right: 400px;
        margin-top: 30px;
        @media only screen and (max-width: 600px) {
            margin-right: 0px; 
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-right: 0px;
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-right: 0px;
        }
        &__eight-jpg-circle{
            &__circle-8{
                @include circle;
                position: absolute;
                z-index: 1; 
                margin-right: -500px;
                @media only screen and (max-width: 600px) {
                    margin-right: 0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-right: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-right: 0px;
                }   
            }
            &__jpg-eight{
                width: 186px;
                height: 186px;
                margin-right: -550px;
                @media only screen and (max-width: 600px) {
                    margin-right: 0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-right: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-right: 0px;
                }
            }
        }
        &__text-eight{
            &__text-header{
                @include text-h3(); 
                margin-left: -150px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                }
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
                margin-left: -150px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                }
            }
        }
    }
    /* --------9------ */
    &__rows-nine{
        margin-right: 400px;
        margin-top: 40px;
        @media only screen and (max-width: 600px) {
            margin-right: 0px;
            margin-top: 30px;
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-right: 0px;
            margin-top: 30px;
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-right: 0px;
            margin-top: 30px;
        }
        &__nine-jpg-circle{
            &__circle-9{
                @include circle;
                position: absolute;
                z-index: 1; 
                margin-left: 1700px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                } 
                     
            }
            &__jpg-nine{
                width: 212px;
                height: 170px;
                margin-left: 1700px;
                margin-top: -100px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
            }
        }
        &__text-nine{
            &__text-header{
                @include text-h3();
                margin-top:-20px;
                margin-left: -30px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                } 
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
                margin-left: -30px;;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                   
                }
            }
        }
    }
    /* --------10------ */
    &__rows-ten{
        margin-top: 100px;
        @media only screen and (max-width: 600px) {
            margin-top: 30px;
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-top: 30px;
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-top: 30px;
        } 
        &__ten-jpg-circle{
            &__circle-10{
                @include circle;
                position: absolute;
                z-index: 1;    
            }
            &__jpg-ten{
                width: 208px;
                height: 184px;
            }
        }
        &__text-ten{
            &__text-header{
                @include text-h3(); 
                margin-top: 20px;
                margin-left: -40px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                } 
            }
            &__text-header-explanation{
                @include text();
                margin-top:-15px;
                margin-left: -40px; 
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                } 
            }
        }
    }
    /* --------11------ */
    &__rows-eleven{
        @media only screen and (max-width: 600px) { 
            margin-top: 30px;
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-top: 30px;
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-top: 30px;
        }   
        &__eleven-jpg-circle{
            &__circle-11{
                @include circle;
                position: absolute;
                z-index: 1;
                margin-left: 1500px;
                margin-top: -10px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }     
            }
            &__jpg-eleven{
                width: 187px;
                height: 180px;
                margin-left: 1500px;
                margin-top: 10px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }   
            }
        }
        &__text-eleven{
            &__text-header{
                @include text-h3(); 
                margin-top:50px;
                margin-left: -60px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }  
                
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
                margin-left: -60px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;   
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                }  
            }
        }
    }
    /* --------12------ */
    &__rows-twelve{
        @media only screen and (max-width: 600px) {
            margin-top: 30px;  
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-top: 30px;
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-top: 30px;
        }  
        &__twelve-jpg-circle{
            &__circle-12{
                @include circle;
                position: absolute;
                z-index: 1; 
                margin-left: 1100px;
                margin-top: 60px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                    margin-top: 0px;  
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }     
            }
            &__jpg-twelve{
                width: 284px;
                height: 140px;
                margin-left: 1050px;
                margin-top: 60px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                    margin-top: 0px;  
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }  
            }
        }
        &__text-twelve{
            &__text-header{
                @include text-h3();
                margin-top:50px;
                margin-left: -280px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                    margin-top: 10px;  
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                   margin-top: 10px;
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }      
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
                margin-left: -280px; 
                @media only screen and (max-width: 600px) {
                    margin-left: 0px; 
                     
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    
                }     
            }
        }
    }
    /* --------13------ */
    &__rows-thirteen{
        margin-top: 60px;
        @media only screen and (max-width: 600px) {
            margin-top: 30px;  
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-top: 30px;  
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-top: 30px;  
        }     
        &__thirteen-jpg-circle{
            &__circle-13{
                @include circle;
                position: absolute;
                z-index: 1;    
            }
            &__jpg-thirteen{
                width: 288px;
                height: 192px;
            }
        }
        &__text-thirteen{
            &__text-header{
                @include text-h3(); 
                margin-top: 50px;
                @media only screen and (max-width: 600px) {
                    margin-top: 10px;  
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-top: 10px;;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-top: 10px; 
                }
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
            }
        }
    }
    /* --------14------ */
    &__rows-fourteen{
        @media only screen and (max-width: 600px) {
            margin-top: 30px;  
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (max-width: 600px) {
            margin-top: 30px;  
        }
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (max-width: 768px) {
            margin-top: 30px;
        } 
        &__fourteen-jpg-circle{
            &__circle-14{
                @include circle;
                position: absolute;
                z-index: 1; 
                margin-left: 1300px;
                margin-top: 100px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;  
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                } 

            }
            &__jpg-fourteen{
                width: 190px;
                height: 188px;
                margin-left: 1500px;
                margin-top: 10px; 
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;  
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                } 
            }
        }
        &__text-fourteen{
                margin-bottom: 50px;
            
            &__text-header{
                @include text-h3(); 
                margin-top:100px;
                margin-left: -250px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;  
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
            }
            &__text-header-explanation{
                @include text(); 
                margin-top:-15px;
                margin-left: -250px;
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;  
                }
                /* Small devices (portrait tablets and large phones, 600px and up) */
                @media only screen and (max-width: 600px) {
                    margin-left: 0px;
                    margin-top: 0px;  
                }
                /* Medium devices (landscape tablets, 768px and up) */
                @media only screen and (max-width: 768px) {
                    margin-left: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
   
}


@mixin adv-header-text {
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    line-height: 35px;
    border-radius: nullpx;
    text-align: left
      
  }

  @mixin adv-header-explanation-text{
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    border-radius: nullpx;
    text-align: left 
  }

.watalogy-advantages{ 
    &__rows-one{
        &__cols-one{
            &__rows{
                &__cols-one-images{
                    &__one{
                        width: 100px;
                        height: 156px;
                        margin-top: 30%;
                        margin-bottom: 30%; 
                    }
                }
                &__cols-two-texts{
                    margin-top: 10%;
                    margin-bottom: 10%;
                    &__header-text{
                        @include adv-header-text;
                        
                    }
                    &__header-explanation-text{
                        @include adv-header-explanation-text;
                    }
                }
            }
        }
        &__cols-two{
            &__rows{
                &__cols-one-images{
                    &__two{
                        margin-top: 30%;
                        margin-bottom: 30%;
                        width: 134px;
                        height: 126px;  
                    }
                }
                &__cols-two-texts{
                    margin-top: 10%;
                    margin-bottom: 10%;
                    &__header-text{
                        @include adv-header-text;
                    }
                    &__header-explanation-text{
                        @include adv-header-explanation-text;
                    }
                }
            }
        }

    }

    &__rows-two{
        &__cols-one{
            &__rows{
                &__cols-one-images{
                    &__one{
                        margin-top: 30%;
                        margin-bottom: 30%;
                        width: 133px;
                        height: 106px;
                    }
                }
                &__cols-two-texts{
                    margin-top: 10%;
                    margin-bottom: 10%;
                    &__header-text{
                        @include adv-header-text;
                    }
                    &__header-explanation-text{
                        @include adv-header-explanation-text;
                    }
                }
            }
        }

        &__cols-two{
            &__rows{
                &__cols-one-images{
                    &__two{
                        margin-top: 30%;
                        margin-bottom: 30%;
                        width: 133px;
                        height: 118px;
                    }
                }
                &__cols-two-texts{
                    margin-top: 10%;
                    margin-bottom: 10%;
                    &__header-text{
                        @include adv-header-text;
                    }
                    &__header-explanation-text{
                        @include adv-header-explanation-text;
                    }
                }
            }
        }
       

    }
}

.watalogy-marketplace{
    margin-top: 100px;
    &__header{
        margin-bottom: 40px;
        &__img-one{
            &__left{
                width: 44px;
                height: 68px;
            }
        }
        .watalogy-marketplace__header-text{
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            line-height: 53px;
            text-align: center;
            color: #000000;
            
        }
      
        &__img-two{
            &__right{
                width: 41px;
                height: 68px;
                margin-bottom: 40px;
            }
        }
    }

    &__rows-one{
        &__cols-one{
            &__amazon-img{
                width: 247px;
                height: 110px;
                
                
            }
        }
        &__cols-two{
            &__etsy-img{
                width: 162px;
                height: 77px;
                
            }

        }
        &__cols-three{
            &__wayfair-img{
                border: 2px solid red;
                width: 190px;
                height: 92px;
                
            }
        }
        &__cols-four{
            &__houzz-img{
                border: 2px solid red;
                width: 259px;
                height: 77px;
                margin: auto;
                display: block;
                
            }

        }
    }
    &__rows-two{
        &__cols-one{
            &__otto-img{
                width: 169px;
                height: 169px;
            }
            
        }
        &__cols-two{
            &__zalando-img{
                width: 221px;
                height: 111px;
                
            }

        }
        &__cols-three{
            &__kaufland-img{
                width: 116px;
                height: 116px;
                
            }

        }
        &__cols-four{
            &__ebay-img{
                width: 169px;
                height: 68px;   
            }
        }
    }
    &__rows-three{
        &__cols-one{
            &__walmart-im{
                width: 226px;
                height: 127px; 
            }
        }
        &__cols-two{
            &__hepsiburda-img{
                width: 141px;
                height: 141px;      
            }

        }
        &__cols-three{
            &__trendyol-img{
                width: 193px;
                height: 63px;
            }
        }
        &__cols-four{
            &__n11-img{
                width: 259px;
                height: 194px;
            }
        }
    }
}